body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5dcb5
}

a {
  color: #00B7FF;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50px;

}

.info{
  background-color: navy;
}

.post{
  width: 300px;
  height: auto;
  border-top: 2px solid red;
  margin-bottom: 20px;
}

.imagepost{
  width: 300px;
  height: auto;
}
