<div class="container">
  <div class="row">
    <div class="col-md-12">
      <b>Edit post, you can only modify content text</b>
      <form action="/post/<%= post._id %>" method="POST">
        <label for="name">Content</label>
        <input type="text" id="content" name="content" value="<%= post.content %>">
        <button type="submit">Update Post</button>
      </form>
    </div>
  </div>
</div>
