<h1>Wiew your profile</h1>
<div class="username"><%=user.username %></div>

<div class="usermail"><%= user.email %></div>
<br>
<img class="avatar" src="<%=user.profile_pic.pic_path %>" alt="">
<br>
<b><%=user.profile_pic.pic_name%></b>
